<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smartReciFit.mybatis.user.UserMapper">

	<select id="getUserList" resultType="HashMap">
		select * from user
	</select>

	<select id="userLogin" parameterType="user" resultType="String">
		SELECT user_id FROM users WHERE user_id = #{userid} AND user_password =
		#{password}
	</select>

	
	<!-- 유저 삽입 -->
	<insert id="userJoin" parameterType="user">
    insert into user(user_name, user_id, user_nickname, user_pwd, user_email, user_phone, user_img)
    values (#{name}, #{id}, #{nickName}, #{pw}, #{email}, #{phone}, #{profileImg})
    </insert>
    
    <!-- 아이디로 num 찾기 -->
    <select id="getUserNum" parameterType="String" resultType="Integer">
	select num from user where user_id=#{id}
	</select>
	
	
	
</mapper>